<div class="container-fluid w-25 border rounded shadow my-3 py-2 text-center">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field mb-3 text-start">
      <%= f.label :email , class: "form-label"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
      <% if resource.errors.any? %>
        <div class="invalid-feedback d-block">
          <% resource.errors.full_messages_for(:email).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :username , class: "form-label"%><br />
      <%= f.text_field :username , class: "form-control"%>
      <% if resource.errors.any? %>
        <div class="invalid-feedback d-block">
          <% resource.errors.full_messages_for(:username).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :phone_number , class: "form-label"%><br />
      <%= f.telephone_field :phone_number , class: "form-control"%>
      <% if resource.errors.any? %>
        <div class="invalid-feedback d-block">
          <% resource.errors.full_messages_for(:phone_number).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :password , class: "form-label"%><br />
      <%= f.password_field :password, autocomplete: "new-password" , class: "form-control"%>
      <% if resource.errors.any? %>
        <div class="invalid-feedback d-block">
          <% resource.errors.full_messages_for(:password).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="field mb-3 text-start">
      <%= f.label :password_confirmation , class: "form-label"%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control"%>
      <% if resource.errors.any? %>
        <div class="invalid-feedback d-block">
          <% resource.errors.full_messages_for(:password_confirmation).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>