<div class="bg-success text-light py-2">
  <div class="d-flex mx-5 my-2 align-items-center">
    <%= link_to "", root_path, class: 'btn btn-dark carousel-control-prev-icon' %>
    <div class="d-flex container justify-content-between">
      <h5 class="card-title"><%= @vehicles.city.titleize %></h5>
      <h5 class="card-title">PKR <%= @vehicles.price %> <%= @vehicles.currency.titleize %></h5>
    </div>
  </div>
</div>
<div class="d-flex my-3 text-center container">
  <div class="w-50 mx-2">
    <div class="border">
      <div class="d-flex justify-content-end">
        <% if user_signed_in? %>
          <%= link_to home_add_to_favorite_path(vehicle_id: @vehicles.id), method: :patch, remote: true do %>
            <% if current_user.favorited?(@vehicles) %>
              <%= fa_icon 'heart', class: 'text-danger btn btn-sm h-100 py-2' %>
            <% else %>
              <%= fa_icon 'heart', class: 'text-muted  btn btn-sm h-100 py-2' %>
            <% end %>
          <% end %>
        <% end %>
        <%= fa_icon 'copy',id: 'copy-link' ,class: 'text-muted btn btn-sm h-100 py-2 mx-1' %>
      </div>
      <div id="carouselExampleControls" class="carousel slide m-5 border" data-bs-ride="carousel">
        <div class="carousel-indicators bg-dark">
            <% @vehicles.pictures.each_with_index do |picture,index| %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>" aria-current="true"></button>
            <% end %>
        </div>
        <div class="carousel-inner">
          <% @vehicles.pictures.each_with_index do |picture,index| %>
              <div class="carousel-item <%= "active" if index == 0 %>">
                <%= image_tag picture, style: 'height:300px;width:100%;object-fit:cover;' %>
              </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="w-50 border shadow mx-2 text-end">
    <% if policy(@vehicles).edit? %>
      <%= link_to "Edit Ad", vehicle_steps_path(@vehicles), class: "btn btn-primary m-2" %>
      <%= link_to "Delete Ad", vehicle_steps_path(@vehicles), class: "btn btn-danger m-2" %>
    <% end %>
    <ul class="w-100 container mt-3">
      <li class="d-flex border-bottom mb-3 align-items-center justify-content-between"><h6>Car Make/Model</h6> <p class="text-muted"><%= @vehicles.model.titleize %></p></li>
      <li class="d-flex border-bottom mb-3 align-items-center justify-content-between"><h6>Engine Type</h6> <p class="text-muted"><%= @vehicles.engine_type.titleize %></p></li>
      <li class="d-flex border-bottom mb-3 align-items-center justify-content-between"><h6>Engine Capacity</h6> <p class="text-muted"><%= @vehicles.engine_capacity %></p></li>
      <li class="d-flex border-bottom mb-3 align-items-center justify-content-between"><h6>Milage</h6> <p class="text-muted"><%= @vehicles.milage %></p></li>
      <li class="d-flex border-bottom mb-3 align-items-center justify-content-between"><h6>Color</h6> <p class="text-muted"><%= @vehicles.color.titleize %></p></li>
      <li class="d-flex border-bottom mb-3 align-items-center justify-content-between"><h6>Assembly Type</h6> <p class="text-muted"><%= @vehicles.assembly_type.titleize %></p></li>
      <li class="d-flex border-bottom align-items-center justify-content-between"><h6>Transmission</h6> <p class="text-muted"><%= @vehicles.transmission.titleize %></p></li>
    </ul>
  </div>
</div>