<div class="container-fluid w-50 border rounded shadow my-3 py-2 text-center">
  <%= render "step-count" %>

  <%= form_for @vehicle, url: next_wizard_path, method: 'PUT' do |f| %>
    <%= f.hidden_field :vehicle_id, value: @vehicle.id %>
    <div class="row g-3 align-items-center my-2">
      <div class="col-3 text-start">
        <%= f.label "#{:primary_contact}*" , class: "form-label"%>
      </div>
      <div class="col-auto">
        <%= f.text_field :primary_contact, autofocus: true, autocomplete: "primary_contact", placeholder: "Primary Contact" , class: " mx-2 form-control"%>
      </div>
    </div>

    <div class="row g-3 align-items-center my-2">
      <div class="col-3 text-start">
        <%= f.label :secondary_contact , class: "form-label"%>
      </div>
      <div class="col-auto">
        <%= f.text_field :secondary_contact, autofocus: true, autocomplete: "secondary_contact", placeholder: "Secondary Contact" , class: "mx-2 form-control"%>
      </div>
    </div>

    <div class="actions mt-5">
      <%= link_to "Previous Step", previous_wizard_path(vehicle_id: @vehicle.id), class: "btn btn-dark" %>
      <%= f.submit "Next Step", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

