<!DOCTYPE html>
<html>
  <head>
    <title>Carsell</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render "layouts/header"%>
      <% if notice || alert %>
        <div class="position-absolute toast-container top-0 end-0 p-5">
          <%= render partial: "layouts/toaster", locals:{:message => notice || alert}%>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
